.metadata/
java/.classpath
java/.project
java/.settings/org.eclipse.jdt.core.prefs
java/doc/
jarCalendar/.classpath
jarCalendar/.gitignore
jarCalendar/.project
jarCalendar/.settings/
Board/.classpath
Board/.project
Board/.settings/
